In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

import  matplotlib
matplotlib.rcParams['figure.figsize'] = (15, 15)

# Welcome!

This is the empty notebook for plankton's data handling tutorial, which can be found at [https://link-url-here.org](https://link-url-here.org)

To make it easier, we already implemented the data loading routine that fetches Qian&al's Hippocampal ISS data set and opens it into 'qian_et_al':

In [5]:
#data loading

import pandas as pd
import os 

data_folder='../test/qian-et-al/data/leftCA1/'

xiaoyan_et_al = pd.read_csv(os.path.join(data_folder,'spots_w_segmentation_leftCA1_4-3.csv'))

#display pandas data set
xiaoyan_et_al

          gene  spotX  spotY  parent_id  parent_prob
0         Crym    534      3          0     0.760157
1         Nrn1    563      3        111     0.992581
2      Slc24a2    574      3        111     0.933438
3         Gad1     22    540          1     0.921028
4         Gad1     24    538          1     0.918960
...        ...    ...    ...        ...          ...
42575      Npy   6883   1974       3056     0.961590
42576      Npy   6889   1958       3056     0.921715
42577      Npy   6911   2433       3074     0.905646
42578      Npy   6940   2360          0     0.566679
42579      Npy   6966   2257          0     0.999855

[42580 rows x 5 columns]